/**
* Main project stylesheet combiner
*
* @section Setup
* @author <fill-me>
*/
/**
* Mixins for browser alignment
*
* @section Framework
* @author echristensen
*/
/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\0000311}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\0000330}}
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\0000341}}
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\0000350}}
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\0000364}}
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\0000374}}
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\0000386}}
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\0000394}}
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003108}}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003117}}
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003125}}
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003134}}
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003142}}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003152}}
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003161}}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003173}}
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003181}}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003189}}
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003197}}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003205}}
sup {
  top: -0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003209}}
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003221}}
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003229}}
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003241}}
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003253}}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003264}}
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003275}}
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003289}}
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003301}}
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003314}}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003326}}
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003336}}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003348}}
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003360}}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003369}}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003380}}
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_normalize\.scss}line{font-family:\00003393}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
* Base variables and function definitions
*
* @section framework
* @author rkalms
*/
/* grid column size variables */
/*  */
/**
* Grid implementation.
*
* @section framework
* @author rkalms
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_grid\.scss}line{font-family:\000038}}
.grid {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_grid\.scss}line{font-family:\0000312}}
.grid-inner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.625em;
  padding-right: 0.625em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_grid\.scss}line{font-family:\0000319}}
.grid-section {
  overflow: hidden;
  display: block;
  padding: 0;
  margin: 0 -0.625em;
  letter-spacing: -0.31em;
  word-spacing: -0.43em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_grid\.scss}line{font-family:\0000328}}
.grid-cell {
  float: left;
  display: inline-block;
  margin: 0;
  padding: 0 0.625em;
  width: 100%;
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* find width of columns */
/**
* Base typographical setup (vertical rythm etc)
*
* @section Layout
* @author echristensen
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/\.rvm\/gems\/ruby-2\.1\.3\@global\/gems\/compass-core-1\.0\.1\/stylesheets\/compass\/typography\/_vertical_rhythm\.scss}line{font-family:\00003106}}
html {
  font-size: 100%;
  line-height: 1.375em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_typography\.scss}line{font-family:\0000312}}
h1, h2, h3, h4 {
  font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
  font-weight: bold;
  line-height: 1.1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_typography\.scss}line{font-family:\0000318}}
p {
  margin: 0 0 1.25em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_typography\.scss}line{font-family:\0000322}}
.entry {
  font-size: 0.875em;
  line-height: 1.5em;
}

@media (min-width: 40.5em) {
  /* css gradient overlay to help visualize columns */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_grid\.scss}line{font-family:\0000360}}
  body.grid-overlay:after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    pointer-events: none;
    left: 50%;
    width: 41.75em;
    margin-left: -20.875em;
    z-index: 2000;
    background: -webkit-linear-gradient(left, transparent 20px, rgba(255, 0, 0, 0.1) 20px, rgba(255, 0, 0, 0.1) 61px);
    -webkit-background-size: 81px;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_typography\.scss}line{font-family:\0000328}}
  h1 {
    margin: 0 0 1.04167em;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_typography\.scss}line{font-family:\0000332}}
  .entry {
    font-size: 1em;
  }
}
/**
* Video test
*
* @section modules
* @author rkalms <rkalms@vertic.com>
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/_generics\.scss}line{font-family:\0000312}}
#animation-frame {
  overflow: hidden;
  width: 1920px;
  height: 1080px;
  background: url("../assets/landskab1080P.jpg") no-repeat 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/_generics\.scss}line{font-family:\0000319}}
#animation-frame h1 {
  float: left;
  margin: 3.75em;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/_generics\.scss}line{font-family:\0000326}}
#animation-frame #video-piger {
  position: absolute;
  left: 1504px;
  top: 640px;
  width: 300px;
  height: 300px;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/_generics\.scss}line{font-family:\0000336}}
#animation-frame #video-mordatter {
  position: absolute;
  top: 710px;
  left: 949px;
  width: 149px;
  height: 174px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/_generics\.scss}line{font-family:\0000345}}
#animation-frame .video-item {
  display: none;
}

/**
* Base variables and function definitions
*
* @section layout
* @author echristensen
*/
/**
* Define breakpoints.
*	They can be used elsewhere, but must be defined here for
*	the sake of layout.
*
* Do not use the layout argument elsewhere.
*/
/* 4 column fixed layout */
@media (min-width: 20.25em) {
  /* create a fixed width centered layout */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_grid\.scss}line{font-family:\0000352}}
  .grid-inner {
    width: 19em;
    margin-right: auto;
    margin-left: auto;
  }

  /* css gradient overlay to help visualize columns */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_grid\.scss}line{font-family:\0000360}}
  body.grid-overlay:after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    pointer-events: none;
    left: 50%;
    width: 21.5em;
    margin-left: -10.75em;
    z-index: 2000;
    background: -webkit-linear-gradient(left, transparent 20px, rgba(255, 0, 0, 0.1) 20px, rgba(255, 0, 0, 0.1) 61px);
    -webkit-background-size: 81px;
  }
}
/* 6 column fixed layout */
@media (min-width: 30.375em) {
  /* create a fixed width centered layout */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_grid\.scss}line{font-family:\0000352}}
  .grid-inner {
    width: 29.125em;
    margin-right: auto;
    margin-left: auto;
  }

  /* css gradient overlay to help visualize columns */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_grid\.scss}line{font-family:\0000360}}
  body.grid-overlay:after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    pointer-events: none;
    left: 50%;
    width: 31.625em;
    margin-left: -15.8125em;
    z-index: 2000;
    background: -webkit-linear-gradient(left, transparent 20px, rgba(255, 0, 0, 0.1) 20px, rgba(255, 0, 0, 0.1) 61px);
    -webkit-background-size: 81px;
  }
}
/* 8 column fixed layout */
@media (min-width: 40.5em) {
  /* create a fixed width centered layout */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_grid\.scss}line{font-family:\0000352}}
  .grid-inner {
    width: 39.25em;
    margin-right: auto;
    margin-left: auto;
  }

  /* css gradient overlay to help visualize columns */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_grid\.scss}line{font-family:\0000360}}
  body.grid-overlay:after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    pointer-events: none;
    left: 50%;
    width: 41.75em;
    margin-left: -20.875em;
    z-index: 2000;
    background: -webkit-linear-gradient(left, transparent 20px, rgba(255, 0, 0, 0.1) 20px, rgba(255, 0, 0, 0.1) 61px);
    -webkit-background-size: 81px;
  }
}
/* 12 column layout with sidebar */
@media (min-width: 60.75em) {
  /* create a fixed width centered layout */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_grid\.scss}line{font-family:\0000352}}
  .grid-inner {
    width: 59.5em;
    margin-right: auto;
    margin-left: auto;
  }

  /* css gradient overlay to help visualize columns */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/rkalm\/dev\/vertic\/vertic-experimentation\/video-canvas\/app\/styles\/modules\/framework\/_grid\.scss}line{font-family:\0000360}}
  body.grid-overlay:after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    pointer-events: none;
    left: 50%;
    width: 62em;
    margin-left: -31em;
    z-index: 2000;
    background: -webkit-linear-gradient(left, transparent 20px, rgba(255, 0, 0, 0.1) 20px, rgba(255, 0, 0, 0.1) 61px);
    -webkit-background-size: 81px;
  }
}
