/**
* Video test
*
* @section modules
* @author rkalms <rkalms@vertic.com>
*/

body {
	//margin: 0;
}

#animation-frame {
	overflow: hidden;
	width: 1920px;
	height: 1080px;

	background: url('../assets/landskab1080P.jpg') no-repeat 0 0;

	h1 {
		float: left;	
		margin: em(60px);

		color: rgb(255,255,255);
	}

	#video-piger {
		position: absolute;
		left: 1504px;
		top: 640px;

		width: 300px;
		height: 300px;
		display: block;
	}

	#video-mordatter {
		position: absolute;
		top: 710px;
		left: 949px;

		width: 149px;
		height: 174px;
	}

	.video-item {
		display: none;
	}
}
